  <nb-card>
    <nb-card-header>
      <span class="user-info-header">{{user?.lastName + ' ' + user?.firstName}}</span> Profile
    </nb-card-header>
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="My Profile">
          <div class="row">
            <h1>UserProfile</h1>

          </div>
        </nb-tab>
        <nb-tab tabTitle="My Orders">
          <p>List of <strong>orders</strong>.</p>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>


<!--data:-->
<!--address: "SmartPoint"-->
<!--birthday: "2019-07-14T00:00:00.000+0000"-->
<!--createdAt: "2019-07-14T18:25:32.856+0000"-->
<!--deletedAt: null-->
<!--firstName: "admin"-->
<!--id: 1-->
<!--isActive: true-->
<!--isLoggedIn: false-->
<!--isSignedUp: false-->
<!--lastName: "admin"-->
<!--login: "admin@admin.com"-->
<!--phoneNumber: "8777-777-77-77"-->
<!--productTitleSearched: ""-->
<!--role: {id: 1, createdAt: "2019-07-14T11:45:49.344+0000", updatedAt: "2019-07-14T11:45:49.344+0000", deletedAt: null, name: "ROLE_ADMIN"}-->
<!--updatedAt: "2019-07-14T18:25:32.856+0000"-->
<!--__proto__: Object-->
<!--message: "found"-->
