.no-underline {
  text-decoration: none !important;
}
.addToCartBtn {
  width: 93%;
}
.redBtn {
  color: red;
  left: 4px;
}

.greenBtn {
  color: green;
  position: absolute;
  right: 16px;
}
.meal-selected-amount {
  font-weight: bolder;
  font-size: large;
}
.meal-image {
  width: 100%;
  height: 210px;
}
