<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
    <nb-icon icon="menu-2-outline"></nb-icon>
  </a>
    <a class="logo" href="#" (click)="navigateHome()">Test<span></span></a>
  </div>

</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item" (click)="navigateHome()" icon="home"></nb-action>
    <nb-action class="control-item" (click)="navigateShop()" icon="shopping-cart"></nb-action>
    <nb-action  class="user-action"  *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="ulan"
               >
      </nb-user>
    </nb-action>
      <nb-action class="control-item" icon="home"></nb-action>
  </nb-actions>
</div>
